/* Reset */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Container */
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    font-weight: 700;
    color: #333;
}

/* Form */
form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input, select {
    margin: 0 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}

input {
    width: 500px;
}

input::placeholder {
    color: #999;
}

select {
    cursor: pointer;
}

/* Result Count */
.resultCount {
    font-size: 14px;
    margin-top: 40px;
    color: #666;
}

/* Table */
.psicTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
}

.psicTable th, .psicTable td {
    padding: 12px;
    text-align: center;
    font-size: 18px;
    color: #444;
}

.psicTable td {
    font-size: 16px;
}

.psicTable th {
    background-color: #333;
    color: #fff;
}

.psicTable tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.active-cell {
    font-weight: 600;
    color: #222;
}

/* Date Acquired */
.dateAcquired {
    margin-top: 60px;
    text-align: center;
}

.dateAcquired a {
    font-size: 16px;
    color: #444;
    text-decoration: none;
}

.dateAcquired a:hover {
    color: #000;
}

.dateAcquired a:active {
    color: #2525ff;
}

/* Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    form {
        flex-direction: column;
    }

    select {
        margin: 10px 0;
        width: 100%;
    }

    input {
        margin: 10px 0;
        width: auto;
    }

    input, select,
    .psicTable th, .psicTable td {
        font-size: 14px;
    }

    .resultCount {
        font-size: 14px;
        margin-top: 32px;
    }

    .psicTable {
        margin-top: 16px;
    }

    .dateAcquired {
        margin-top: 30px;
    }

    .dateAcquired a {
        font-size: 14px;
    }

    .footer {
        margin-top: 15px;
        padding: 15px;
        font-size: 12px;
    }
}