/* Reset */
body,
h1,
form {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    color: #3d3d3d;
}

/* Container */
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    font-weight: 700;
    color: #3d3d3d;
}

/* Form */
form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Input */
input,
select {
    margin: 0 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}

input {
    width: 500px;
}

input::placeholder {
    color: #999;
}

/* Select */
select {
    width: 250px;
    cursor: pointer;
}

select option {
    background-color: #fff;
    color: #555;
    border: 1px solid #e0e0e0;
}

select option:hover {
    background-color: #f7f7f7;
    color: #444;
}

select option:checked {
    background-color: #007BFF;
    color: #fff;
}

/* Result Count */
.resultCount {
    font-size: 14px;
    margin-top: 40px;
    color: #666;
}

/* Table */
.table-container {
    overflow-y: auto;
    max-height: 450px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.psicTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
}

.psicTable thead {
    position: sticky;
    top: 0;
}

.psicTable th,
.psicTable td {
    padding: 12px;
    text-align: center;
}

.psicTable td {
    font-size: 16px;
    color: #444;
}

.psicTable th {
    font-size: 18px;
    background-color: #3d3d3d;
    color: #fff;
}

.psicTable th.active-header {
    background-color: rgb(24, 24, 24);
}

.psicTable tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

/* Date Acquired */
.dateAcquired {
    margin-top: 120px;
    text-align: center;
}

.dateAcquired a {
    font-size: 16px;
    color: #444;
    text-decoration: none;
}

.dateAcquired a:hover {
    color: #000;
}

.dateAcquired a:active {
    color: #2525ff;
}

/* Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 25px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 0 0 5px 5px;
}

.active-column {
    font-weight: 600;
    color: rgb(24, 24, 24);
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 1200px) and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    form {
        flex-direction: column;
    }

    select {
        margin: 10px 0;
        width: 100%;
    }

    input {
        margin: 10px 0;
        width: auto;
    }

    input,
    select,
    .psicTable th,
    .psicTable td,
    .dateAcquired a {
        font-size: 14px;
    }

    .resultCount {
        font-size: 14px;
        margin-top: 32px;
    }

    .table-container {
        margin-top: 16px;
    }

    .dateAcquired {
        margin-top: 90px;
    }

    .footer,
    .footer-content {
        margin-top: 15px;
        padding: 15px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .resultCount,
    .psicTable th,
    .dateAcquired a {
        font-size: 13px;
    }
    
    .psicTable td {
        font-size: 12px;
    }
}